<!DOCTYPE html>
<html>
    <head>
        <title>Story Platform</title>
    </head>
    <body>
        <h1>Story Platform</h1>
        <span> 
            {% if user.is_authenticated %}
                Logged in as {{ user.username }} |

                <form method="post" action="{% url 'accounts:logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'accounts:login' %}">Login</a>
            {% endif %}
        </span>
        <hr/>
        {% block content %}
        {% endblock %}
    </body>
</html>