{% extends 'base.html' %}

{% block content %}
    <h2>Story List</h2>
    <hr/>
    <ul>
        {% for story in stories %}
            <div>
                <div>
                    <a href="{% url 'story_detail' story.id %}">
                        {{ story.title }}
                    </a>
                </div>
                <div>
                    Author: {{ story.author.username }}
                </div>
                <div>
                    Status: {{ story.status }}
                </div>
                <div>
                    Created: {{ story.created_at }}
                </div>
                <p></p>
            </div>
        {% endfor %}
    </ul>
{% endblock %}